<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<appSettings>
		<add key="getAT.WebService" value="http://www.phnixit.com/getAT/WebService.asmx"/>
		<add key="objuser.WebService" value="http://kb.phnix.com.cn/getat/WebService.asmx"/>
	<add key="cn.com.phnix.kb.WebService" value="http://kb.phnix.com.cn/getat/WebService.asmx"/>
	</appSettings>
</configuration>
